Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Mail
Flask-Login
Flask-Bcrypt
bcrypt
qrcode
pyautogui
waitress
cryptography
pandas
openpyxl
APScheduler
uuid
sqlalchemy
flaskwebgui
pyinstaller