<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/ic_launcher.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">    

</head>
<body>
  <div class="head"><h1>{{user.firm}}</h1>
        <div class="topnav">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('student')}}">New student</a>
            <a href="/studypoint/">studypoint</a>
            <a href="{{url_for('report')}}">Report</a>
            <a href="{{url_for('search')}}"><i class="bi bi-search"></i></a>
          </div>
    <form class="billform" method="post" action="{{ url_for('settings') }}">
        <label for="firm">firm name:</label>
        <input type="text" id="firm" name="firm" value="{{user.firm}}" required><br>
        <label for="mobile">Mobile number:</label>
        <input type="text" pattern="[0-9]{10}" id="mobile" name="mobile" value="{{user.mobile}}" minlength="10" maxlength="10" required><br>
        <label for="email">email:</label>
        <input type="email" id="email" name="email" value="{{user.email}}" required><br>
        <label for="address" title="{{user.address}}">Address:</label>
        <input type="text" id="address" name="address" title="Add ';' to add different line of address " placeholder="Dont add anython if no change needed in address" ><br>
        <label for="right">Bill Right corner</label>
        <input type="text" id="right" name="right" value="{{user.billright}}" ><br>
        <label for="left">Bill left Corner</label>
        <input type="text" id="left" name="left" value="{{user.billleft}}" ><br>
        <label for="warning" title="{{user.billwarning}}" >Bill warning</label>
        <input type="text" id="warning" name="warning" title="add ';' to seperate lines" placeholder="add comma seperated lines" ><br>
        <label for="users" title="{{user.users}}">Users</label>
        <input type="text" id="users" name="users" title="add ';' to seperate lines" ><br>

        <label for="username">Username</label>
        <input type="text" name="username" value="{{logger.username}}">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="new password">

        <button class="submit-btn" type="submit" >Update</button><p></p>
        <a href="{{url_for('advance')}}"><button class="submit-btn" type="button" >Advance Payment</button></a><p></p>
        
      </form>
      <div class="settings">
      <a href="/loggers/admin" style="padding: 2%;">Manage Users</a>
      <a href="/register" style="padding: 2%;">Register a user</a>
      <!-- {% if email==true %}
        <a href="{{url_for('updateemail')}}">Email</a>
        {% endif %} -->

    </div>
    </div>
</body>
</html>